.modalContainer {
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  text-align: center;
  padding: 13px 69px 24px 82px;
  border-radius: 20px;
  background-color: rgba(#e0e0e0, 0.89);

  font-size: 18px;
  @media screen and (max-width: 500px) {
    width: 348px;
    padding-left: 46px;
    padding-right: 46px;
  }
}

.banner {
  width: 186px;
  height: 50px;
  margin: auto;
}

.alertIcon {
  width: 77px;
  height: 77px;
  margin: 45px auto 39px auto;
}

.content {
  // width: 75px;
  // height: 25px;
  // margin: auto;
  font-family: PingFangTC;
  font-size: 1.8rem;
  font-weight: 600;
  // padding
  color: rgba(64, 25, 126, 0.76);
}

.result {
  // width: 75px;
  height: 25px;
  margin: 15px 0;
  font-family: PingFangTC;
  font-size: 1.8rem;
  font-weight: 600;
  color: #615d5e;
}
